<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/"><img width=150px height=50px src="https://cdn.discordapp.com/attachments/1032252380345008133/1051852573918892162/PokeImpact_Logo.png"/></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav">
        <!--YX part-->
        <li class="nav-item"><a class="nav-link" href="/">Card Store</a></li>
        <li class="nav-item"><a class="nav-link" href="/basket">Basket</a></li>
        <li class="nav-item"><a class="nav-link" href="/checkout">Checkout</a></li>


        <li class="nav-item"><a class="nav-link" href="/gachastore">Gacha Store</a></li>

        <!--jonathpartfrfr-->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Inventory</a>
          <ul class="dropdown-menu">
           <li><a class="dropdown-item" href="/addcard">Add Card</a></li>
           <li><a class="dropdown-item" href="/Cardsdata">Retrieve Card</a></li>
            </ul>

        <li class="nav-item"><a class="nav-link" href="/DominicPlsChangeThisUrself">Reviews</a></li>

        <!--matthewpartfrfr-->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Settings</a>
          <ul class="dropdown-menu">
           <li><a class="dropdown-item" href="/profile">Profile</a></li>
           <li><a class="dropdown-item" href="/changepassword">Change Password</a></li>
           <li><a class="dropdown-item" href="/deleteaccount">Delete Account</a></li>
           <li><a class="dropdown-item" href="/logout">Sign Out</a></li>
           </ul>
         </li>

      </ul>
    </div>
  </div>
</nav>
