{% extends "base.html" %}
{% block title %}PokeImpact - {{ packName }}{% endblock %}

{% block content %}
{% from "includes/_formHelper.html" import render_field %}
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,800;1,100;1,200;1,300;1,400;1,500&display=swap');
  </style>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/packListingYX.css') }}">
</head>
<script>
    function validateForm() {
        var img_file = document.getElementById("img_file");
        var img_file_error = document.getElementById("img_file_error");
        if (img_file == "") {
            img_file_error.innerHTML= "Please select an image";
            return false;
        }
        else {
            var extension = img_file.value.split('.').pop().toLowerCase();
            if (extension != "jpg" && extension != "jpeg" && extension != "png") {
                img_file_error.innerHTML = "Invalid image type (Only accepts png, jpg or jpeg)";
                return false;
            }
            else {
                return true;
            }
        }
    }
</script>
<body>
  <div class="main">
    <div class = "card">
      <div class = "imgBx">
        <img src="{{ url_for('image', id=displayThisCard.id) }}" alt="IMAGE BROKEN!!1!!1!!1" class="cardDisplayImg">
      </div>
      <div class = "content">
        <div class ="details">
          <h2><strong>{{ displayThisCard.name }}</strong></h2>
          <div class="data">
            <p>{{ displayThisCard.description }}</p>
            <p>Type: {{ displayThisCard.type }}</p>
            <p>Rarity: {{ displayThisCard.rarity }}</p>
            <p>Booster: {{ displayThisCard.booster }}</p>
            <h5>${{ displayThisCard.price }}</h5>
            <form method="POST" action="">
              <input type="submit" value="Add to basket" class="btn btn-warning"/>
            </form>
          </div>

        </div>
      </div>
  </div>
</body>
{% endblock %}
